<!DOCTYPE html>
<html lang="es">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>INICIO</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center">
				<div class="sidebar-brand-icon">
					<img th:src="@{/img/Logo2.png}" class="img-fluid" width="69%">
				</div>
				<div class="sidebar-brand-text mx-0"></div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-1">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/inicio}">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>INICIO</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				FILTROS
			</div>

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/casas}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					CASAS
				</a>
				<a class="nav-link collapsed" th:href="@{/habitaciones}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					HABITACIONES
				</a>
				<a class="nav-link collapsed" th:href="@{/apartamentos}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					APARTAMENTOS
				</a>
				<a class="nav-link collapsed" th:href="@{/lotes}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					LOTES
				</a>
				<a class="nav-link collapsed" th:href="@{/terrenos}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					TERRENOS
				</a>
				<a class="nav-link collapsed" th:href="@{/fincas}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					FINCAS
				</a>
				<a class="nav-link collapsed" th:href="@{/locales}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					LOCALES
				</a>
				<a class="nav-link collapsed" th:href="@{/habitaciones}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					OFICINAS
				</a>
				<a class="nav-link collapsed" th:href="@{/edificios}" data-target="#collapseTwo" aria-expanded="true"
					aria-controls="collapseTwo">
					EDIFICIOS
				</a>
			</li>

			<!-- Nav Item - Utilities Collapse Menu -->

			<!-- Heading -->
			<div class="sidebar-heading">
				DISPONIBLE
			</div>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/arriendo}" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities">
					ARRIENDO
				</a>
				<a class="nav-link collapsed" th:href="@{/alquiler}" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities">
					ALQUILER
				</a>
				<a class="nav-link collapsed" th:href="@{/venta}" data-target="#collapseUtilities" aria-expanded="true"
					aria-controls="collapseUtilities">
					VENTA
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search-->
					<form
						class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
						<div class="input-group">
							<input type="text" name="palabraClave" class="form-control bg-light border-0 small"
								id="palabraClave" th:value="${palabraClave}" placeholder="BUSCAR" aria-label="Search"
								aria-describedby="basic-addon2" required>
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									&nbsp; &nbsp;
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a th:href="@{/login}">
							<button type="button" class="btn btn-outline-primary">INGRESAR</button>
						</a>
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Content Row -->
					<div class="row">

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												PUBLICACIONES</div>

										</div>
										<div class="col-auto">

											<a th:href="@{/AdministrarPrincipa}">
												<i class="fas fa-fw fa-table fa-4x text-gray-400"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-success text-uppercase mb-1">
												SECCIONES</div>
										</div>
										<div class="col-auto">
											<a th:href="@{/secciones}">
												<i class="fas fa-comments fa-4x text-gray-300"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>


						<!-- Pending Requests Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-warning text-uppercase mb-1">
												MI CUENTA</div>
										</div>
										<div class="col-auto">
											<a th:href="@{/login}">
												<i class="fas fa fa-user-circle fa-4x text-gray-300"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--contador-->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												#PUBLICACIONES DE LA PÁGINA
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicaciones}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												CASAS
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesCasas}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												HABITACIONES
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesHabitaciones}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												APARTAMENTOS
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesApartamentos}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												LOTES
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesLotes}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												TERRENOS
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesTerrenos}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												FINCAS
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesFincas}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												LOCALES
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesLocales}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												OFICINAS
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesOficinas}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
												EDIFICIOS
											</div>
										</div>
										<div class="col-auto">
											<a th:text="${totalPublicacionesEdificios}"></a>
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar" style="width: 50%"
													aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>


					<!-- Area Chart -->
					<div id="carouselExample" class="carousel slide">
						<div class="carousel-inner">
							<div class="carousel-item active" th:each="Publicacion:${listarPublic}">
								<img th:src="@{/imagenes/}+${Publicacion.Imagen}" alt="img"
									class="bd-placeholder-img rounded img-fluid d-block w-100">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Anterior</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Siguiente</span>
						</button>
					</div>

					<!--container-fluid -->

				</div>
			</div>

			<!--Footer-->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright; MR 2024</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
		</div>
	</div>
</body>



<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your
				current session.
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>